button.mainMenuButton.station {
    background-image: url('res://imageset_iconography/material/button_station_enabled');
}

button.mainMenuButton.station:hover {
    background-image: url('res://imageset_iconography/material/button_station_over');
}

button.mainMenuButton.station:over {
    background-image: url('res://imageset_iconography/material/button_station_over');
}

button.mainMenuButton.station:pressed {
    background-image: url('res://imageset_iconography/material/button_station_press');
}

button.mainMenuButton.station:selected {
    background-image: url('res://imageset_iconography/material/button_station_selected');
}

button.mainMenuButton.station:over-selected {
    background-image: url('res://imageset_iconography/material/button_station_selected');
}
