panel.empty {
    width: 252px;
    height: 50px;
}

panel.frame {
    border-bottom-image: url('res://imageset_header_neo/material/header_merit_frame_center');
    border-bottom-left-image: url('res://imageset_header_neo/material/header_merit_frame_left');
    border-bottom-right-image: url('res://imageset_header_neo/material/header_merit_frame_right');
    background-fill: url('res://imageset_new_progressbar/material/progressbar_blue_small_center');
    border-left-fill: url('res://imageset_new_progressbar/material/progressbar_blue_small_left');
    border-right-fill: url('res://imageset_new_progressbar/material/progressbar_blue_small_right');
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: none;
    padding-bottom: -12px;
    padding-left: 6px;
    padding-right: 6px;
}

button[name=toggle-mode] {
    icon: url('res://imageset_header_neo/material/button_switch_enabled');
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: none;
    margin-left: 10px;
}

button[name=toggle-mode]:over {
    icon: url('res://imageset_header_neo/material/button_switch_over');
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: none;
}

button[name=toggle-mode]:over :selected {
    icon: url('res://imageset_header_neo/material/button_switch_over');
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: none;
}

button[name=toggle-mode]:pressed {
    icon: url('res://imageset_header_neo/material/button_switch_press');
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: none;
}

button[name=toggle-mode]:selected {
    icon: url('res://imageset_header_neo/material/button_switch_selected');
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: none;
}

button[name=toggle-help] {
    icon: url('res://imageset_header_neo/material/button_help_enabled');
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: none;
    margin-right: 10px;
}

button[name=toggle-help]:over {
    icon: url('res://imageset_header_neo/material/button_help_over');
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: none;
}

button[name=toggle-help]:over :selected {
    icon: url('res://imageset_header_neo/material/button_help_over');
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: none;
}

button[name=toggle-help]:selected {
    icon: url('res://imageset_header_neo/material/button_help_selected');
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: none;
}

button[name=toggle-help]:pressed {
    icon: url('res://imageset_header_neo/material/button_help_press');
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: none;
}

label[name=balance] {
    border-left-image: url('res://imageset_header_neo/material/display_tael_left');
    border-right-image: url('res://imageset_header_neo/material/display_tael_right');
    background-image: url('res://imageset_header_neo/material/display_tael_center');
    margin-left: 24px;
    margin-right: 24px;
    text-align: center;
    font-size: 9px;
}

label[name=location] {
    border-left-image: url('res://imageset_header_neo/material/display_location_left');
    border-right-image: url('res://imageset_header_neo/material/display_location_right');
    background-image: url('res://imageset_header_neo/material/display_location_center');
    margin-left: 12px;
    margin-right: 12px;
    text-align: center;
    font-size: 9px;
}