panel[name=oninet] {
    max-height: 20px;
}

panel.header {
    border-bottom-image: url('res://imageset_header_neo/material/header_frame_bottom');
    border-bottom-left-image: url('res://imageset_header_neo/material/header_frame_lower_left');
    border-bottom-right-image: url('res://imageset_header_neo/material/header_frame_lower_right');
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: url('res://imageset_header_neo/material/header_frame_left');
    border-right-image: url('res://imageset_header_neo/material/header_frame_right');
    background-image: none;
    padding-bottom: -20px;
    padding-left: -5px;
    padding-right: -5px;
}

toggle-button.bigbutton {
    font-size: 9px;
    min-height: 50px;
    min-width: 50px;
    margin: -3px;
}
