button {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
}


button[name=radar-button-1] {
    background-image: url('res://radar/material/button_radar_01_enabled');
}


button[name=radar-button-1] {
    background-image: url('res://radar/material/button_radar_01_enabled');
}

button[name=radar-button-1]:hover {
    background-image: url('res://radar/material/button_radar_01_over');
}

button[name=radar-button-1]:over {
    background-image: url('res://radar/material/button_radar_01_over');
}

button[name=radar-button-1]:over-selected {
    background-image: url('res://radar/material/button_radar_01_over');
}

button[name=radar-button-1]:pressed {
    background-image: url('res://radar/material/button_radar_01_press');
}

button[name=radar-button-1]:selected {
    background-image: url('res://radar/material/button_radar_01_selected');
}


button[name=radar-button-2] {
    background-image: url('res://radar/material/button_radar_02_enabled');

}

button[name=radar-button-2]:hover {
    background-image: url('res://radar/material/button_radar_02_over');
}

button[name=radar-button-2]:over {
    background-image: url('res://radar/material/button_radar_02_over');
}

button[name=radar-button-2]:over-selected {
    background-image: url('res://radar/material/button_radar_02_over');
}

button[name=radar-button-2]:pressed {
    background-image: url('res://radar/material/button_radar_02_press');
}

button[name=radar-button-2]:selected {
    background-image: url('res://radar/material/button_radar_02_selected');
}


button[name=radar-button-3] {
    background-image: url('res://radar/material/button_radar_03_enabled');
}

button[name=radar-button-3]:hover {
    background-image: url('res://radar/material/button_radar_03_over');
}

button[name=radar-button-3]:over {
    background-image: url('res://radar/material/button_radar_03_over');
}

button[name=radar-button-3]:over-selected {
    background-image: url('res://radar/material/button_radar_03_over');
}

button[name=radar-button-3]:pressed {
    background-image: url('res://radar/material/button_radar_03_press');
}

button[name=radar-button-3]:selected {
    background-image: url('res://radar/material/button_radar_03_selected');
}


button[name=radar-button-4] {
    background-image: url('res://radar/material/button_radar_04_enabled');
}

button[name=radar-button-4]:hover {
    background-image: url('res://radar/material/button_radar_04_over');
}

button[name=radar-button-4]:over {
    background-image: url('res://radar/material/button_radar_04_over');
}

button[name=radar-button-4]:over-selected {
    background-image: url('res://radar/material/button_radar_04_over');
}

button[name=radar-button-4]:pressed {
    background-image: url('res://radar/material/button_radar_04_press');
}

button[name=radar-button-4]:selected {
    background-image: url('res://radar/material/button_radar_04_selected');
}


button[name=radar-button-5] {
    background-image: url('res://radar/material/button_radar_05_enabled');
}

button[name=radar-button-5]:hover {
    background-image: url('res://radar/material/button_radar_05_over');
}

button[name=radar-button-5]:over {
    background-image: url('res://radar/material/button_radar_05_over');
}

button[name=radar-button-5]:over-selected {
    background-image: url('res://radar/material/button_radar_05_over');
}

button[name=radar-button-5]:pressed {
    background-image: url('res://radar/material/button_radar_05_press');
}

button[name=radar-button-5]:selected {
    background-image: url('res://radar/material/button_radar_05_selected');
}