taskpane {
    height: 110px;
    min-height: 110px;
    max-height: 110px;
}

.missionIcon {
    background-image: url('res://imageset_iconography/amm_grp_balistic');
}

.fixerIcon {
    background-image: url('res://imageset_iconography/blu_grp_ship');
}

.crafterIcon {
    background-image: url('res://imageset_iconography/blu_grp_ammo');
}

.researcherIcon {
    background-image: url('res://imageset_iconography/blu_grp_equipment');
}

labeled-icon {
    width: 70px;
    height: 70px;
    margin: 4px;
    padding: 2px;
}