toggle-button.plain {
    background-image: url('res://imageset_core/material/white_pixel');
    border-left-image: none;
    border-right-image: none;
    width: 30px;
    height: 20px;
}

toggle-button.red {
    color-multiplier: rgb(120, 18, 13, 100);
}

toggle-button.red:over, toggle-button.red:selected {
    color-multiplier: rgb(255, 58, 53, 255);
}

toggle-button.white {
    color-multiplier: rgb(127, 127, 127, 100);
}

toggle-button.white:over, toggle-button.white:selected {
    color-multiplier: rgb(255, 255, 255, 255);
}

toggle-button.green {
    color-multiplier: rgb(0, 115, 5, 100);
}

toggle-button.green:over, toggle-button.green:selected {
    color-multiplier: rgb(20, 215, 65, 255);
}

toggle-button.yellow {
    color-multiplier: rgb(155, 90, 0, 100);
}

toggle-button.yellow:over, toggle-button.yellow:selected {
    color-multiplier: rgb(255, 190, 0, 255);
}

toggle-button.blue {
    color-multiplier: rgb(0, 100, 155, 100);
}

toggle-button.blue:over, toggle-button.blue:selected {
    color-multiplier: rgb(0, 200, 255, 255);
}