window {
    width: 220px;
    height: 110px;
    min-width: 220px;
    min-height: 110px;
    max-width: 220px;
    max-height: 110px;
}

window > window-title,
window > rootpane {
    blur-behind: false;
}

window > rootpane > contentpane {
    padding-top: 8px;
}

desktoppane[name=modal] {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: url('res://imageset_core/material/black_pixel');
}