
button[name=contract-type-transport] {
    background-image: url('res://imageset_iconography/material/button_transport_enabled');
    border-left-image: none;
    border-right-image: none;
}

button[name=contract-type-transport]:over {
    background-image: url('res://imageset_iconography/material/button_transport_over');
    border-left-image: none;
    border-right-image: none;
}

button[name=contract-type-transport]:hover {
    background-image: url('res://imageset_iconography/material/button_transport_eover');
    border-left-image: none;
    border-right-image: none;
}

button[name=contract-type-transport]:pressed {
    background-image: url('res://imageset_iconography/material/button_transport_press');
    border-left-image: none;
    border-right-image: none;
}

button[name=contract-type-transport]:selected {
    background-image: url('res://imageset_iconography/material/button_transport_selected');
    border-left-image: none;
    border-right-image: none;
}

button[name=contract-type-transport]:over_selected {
    background-image: url('res://imageset_iconography/material/button_transport_selected');
    border-left-image: none;
    border-right-image: none;
}

button[name=contract-type-transport]:disabled {
    background-image: url('res://imageset_iconography/material/button_transport_enabled');
    border-left-image: none;
    border-right-image: none;
    color-alpha: 0.3;
}

button[name=contract-type-bounty] {
    background-image: url('res://imageset_iconography/material/button_bounty_enabled');
    border-left-image: none;
    border-right-image: none;
}

button[name=contract-type-bounty]:over {
    background-image: url('res://imageset_iconography/material/button_bounty_over');
    border-left-image: none;
    border-right-image: none;
}

button[name=contract-type-bounty]:hover {
    background-image: url('res://imageset_iconography/material/button_bounty_eover');
    border-left-image: none;
    border-right-image: none;
}

button[name=contract-type-bounty]:pressed {
    background-image: url('res://imageset_iconography/material/button_bounty_press');
    border-left-image: none;
    border-right-image: none;
}

button[name=contract-type-bounty]:selected {
    background-image: url('res://imageset_iconography/material/button_bounty_selected');
    border-left-image: none;
    border-right-image: none;
}

button[name=contract-type-bounty]:over_selected {
    background-image: url('res://imageset_iconography/material/button_bounty_selected');
    border-left-image: none;
    border-right-image: none;
}

button[name=contract-type-bounty]:disabled {
    background-image: url('res://imageset_iconography/material/button_bounty_enabled');
    border-left-image: none;
    border-right-image: none;
    color-alpha: 0.3;
}

