.info {
    text-align: center;
}

panel[name=divider] {
    border-top-image: url('res://imageset_tabpane_neo/material/tab_line');
    padding-top: 3px;
    margin-top: 10px;
}

panel[name=buttons] {
    margin-right: 5px;
}

panel[name=header] {
    padding-left: 10px;;
    padding-right: 10px;
}