window > rootpane,
window > rootpane > contentpane {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: none;
}

window,
window > rootpane {
    padding: 0px;
    margin: 0px;
}

panel {
    blur-behind: false;
}

label {
    color: white;
    font-family: xirod;
}

htmlpane {
    margin-top: -18px;
}