html {
    color: white;
    font-family: Tahoma, Verdana, Arial, sans;
    font-size: 9px;
}

p {
    color: white;
    font-family: Tahoma, Verdana, Arial, sans;
    font-size: 9px;
}

div {
    color: white;
    font-family: Tahoma, Verdana, Arial, sans;
    font-size: 9px;
}

h1 {
    color: white;
    font-family: Tahoma, Verdana, Arial, sans;
    font-size: 16px;
    font-weight: bold;
}

h2 {
    color: white;
    font-family: Tahoma, Verdana, Arial, sans;
    font-size: 14px;
    font-weight: bold;
}

h3 {
    color: white;
    font-family: Tahoma, Verdana, Arial, sans;
    font-size: 9px;
    font-weight: bold;
}

ol {
    color: white;
    font-family: Tahoma, Verdana, Arial, sans;
    font-size: 9px;
    font-weight: bold;
}

ul {
    color: white;
    font-family: Tahoma, Verdana, Arial, sans;
    font-size: 9px;
    font-weight: bold;
}

li {
    color: white;
    font-family: Tahoma, Verdana, Arial, sans;
    font-size: 9px;
    font-weight: bold;
}