button.mainMenuButton.help {
    background-image: url('res://imageset_iconography/material/button_help_enabled');
}

button.mainMenuButton.help:hover {
    background-image: url('res://imageset_iconography/material/button_help_over');
}

button.mainMenuButton.help:over {
    background-image: url('res://imageset_iconography/material/button_help_over');
}

button.mainMenuButton.help:pressed {
    background-image: url('res://imageset_iconography/material/button_help_press');
}

button.mainMenuButton.help:selected {
    background-image: url('res://imageset_iconography/material/button_help_selected');
}

button.mainMenuButton.help:over-selected {
    background-image: url('res://imageset_iconography/material/button_help_selected');
}