label[name=speedLabel] {
    color: white;
    color-alpha: 0.7;
    top: 220px;
    left: 0px;
    width: 60px;
    min-width: 60px;
    font-family: myriad-10;
    vertical-align: center;
    text-align: center;
}

panel[name=velocityBar] {
    background-image: url('res://imageset_hud/material/speed_blue');
}

panel[name=overVelocityBar] {
    background-image: url('res://imageset_hud/material/speed_green');
}

panel[name=desiredVelocityBar] {
    background-image: url('res://imageset_hud/material/speed_white');
}

panel[name=velocityFrameBar] {
    background-image: url('res://imageset_hud/material/speed_frame');
}
