window {
    width: 300px;
    height: 34px;
    padding: 12px 5px 0px 5px;
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    background-image: url('res://imageset_menu_neo/material/menu_bottom_center');
    border-left-image: url('res://imageset_menu_neo/material/menu_bottom_left');
    border-right-image: url('res://imageset_menu_neo/material/menu_bottom_right');
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
}

button.bigbutton2 {
    font-family: xirod;

    margin: 3px;
    max-height: 35px;
    mouse-press-sound: 'sfx_undock_click';
}
