button.mainMenuButton.inventory {
    background-image: url('res://imageset_iconography/material/button_finances_enabled');
}

button.mainMenuButton.inventory:hover {
    background-image: url('res://imageset_iconography/material/button_finances_over');
}

button.mainMenuButton.inventory:over {
    background-image: url('res://imageset_iconography/material/button_finances_over');
}

button.mainMenuButton.inventory:pressed {
    background-image: url('res://imageset_iconography/material/button_finances_press');
}

button.mainMenuButton.inventory:selected {
    background-image: url('res://imageset_iconography/material/button_finances_selected');
}

button.mainMenuButton.inventory:over-selected {
    background-image: url('res://imageset_iconography/material/button_finances_selected');
}
