panel[name=north-pane] {
    height: 100px;
    padding-bottom: 10px;
}

panel[name=center-pane] {
    width: 346px;
    height: 58px;
}

panel[name=buttonPanel] {
    padding: 0px 50px 0px 50px;
}

panel[name=shieldPanel] {
    border-top-left-image: url('res://imageset_footer_neo/material/footer_up_frame_left');
    border-top-right-image: url('res://imageset_footer_neo/material/footer_up_frame_right');
    border-top-image: url('res://imageset_footer_neo/material/footer_up_frame_center');
    padding: -14px 8px 0px 8px;
}

panel[name=hullPanel] {
    border-top-left-image: url('res://imageset_footer_neo/material/footer_down_frame_left');
    border-top-right-image: url('res://imageset_footer_neo/material/footer_down_frame_right');
    border-top-image: url('res://imageset_footer_neo/material/footer_down_frame_center');
    padding: -14px 8px 0px 8px;
}

panel[name=bar] {
    background-image: url('res://imageset_footer_neo/material/frame_progress_center');
    border-left-image: url('res://imageset_footer_neo/material/frame_progress_left');
    border-right-image: url('res://imageset_footer_neo/material/frame_progress_right');
    width: 100%;
    padding: 0px 10px 0px 10px;
    height: 22px;
    min-height: 22px;
}

textfield[name=chatfield] {
    background-image: url('res://imageset_footer_neo/material/quickchat_center');
    border-left-image: url('res://imageset_footer_neo/material/quickchat_left');
    border-right-image: url('res://imageset_footer_neo/material/quickchat_right');
    height: 22px;
    max-height: 22px;
    min-height: 0px;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 0px;
}

toggle-button {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-left-image: none;
    border-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    background-image: none;

    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
}

toggle-button {
    color-multiplier: rgb(90, 90, 90, 90);
}

toggle-button:over {
    color-multiplier: rgb(180, 180, 180, 180);
}

toggle-button:selected, toggle-button:disabled {
    color-multiplier: rgb(210, 210, 210, 210);
}

toggle-button:over:selected {
    color-multiplier: rgb(255, 255, 255, 255);
}

toggle-button[name=radar-list] {
    icon: url('res://imageset_footer_neo/material/icon_special_list');
}

toggle-button[name=cruise-speed] {
    icon: url('res://imageset_footer_neo/material/icon_special_cruise');
}

button {
    font-size: 9px;
}

button:pressed {
    background-image: url('res://imageset_footer_neo/material/button_center_press');
    border-left-image: url('res://imageset_footer_neo/material/button_left_press');
    border-right-image: url('res://imageset_footer_neo/material/button_right_press');
}

button:disabled {
    color-alpha: 1;
    background-color-alpha: 1;
    color-multiplier: rgb(255, 255, 255, 255);
}

button.navigation {
    background-image: url('res://imageset_footer_neo/material/button_green_center_enabled');
    border-left-image: url('res://imageset_footer_neo/material/button_green_left_enabled');
    border-right-image: url('res://imageset_footer_neo/material/button_green_right_enabled');
}

button.navigation:over {
    background-image: url('res://imageset_footer_neo/material/button_green_center_over');
    border-left-image: url('res://imageset_footer_neo/material/button_green_left_over');
    border-right-image: url('res://imageset_footer_neo/material/button_green_right_over');
}

button.combat {
    background-image: url('res://imageset_footer_neo/material/button_red_center_enabled');
    border-left-image: url('res://imageset_footer_neo/material/button_red_left_enabled');
    border-right-image: url('res://imageset_footer_neo/material/button_red_right_enabled');
}

label[name=status] {
    font-size: 9px;
}

label[name=missile-warning] {
    text-align: center;
    font-size: 14;
    font-weight: bold;
    color: rgb(255, 0, 0);
}

label.key {
    text-align: center;
}