.window {
    width: 80%;
    height: 60%;
}

.buttonPanel {
    width: 100%;
    height: 40px;
}

button#newMessageButton {
    background-image: url('res://imageset_iconography/button_mission_press');
}

button#replyMessageButton {
    background-image: url('res://imageset_iconography/button_contracts_press');
}

button#replyAllMessageButton {
    background-image: url('res://imageset_iconography/button_associates_press');
}

button#forwardMessageButton {
    background-image: url('res://imageset_iconography/button_transfer_press');
}

button#delMessageButton {
    background-image: url('res://imageset_iconography/button_trash_press');
}

list#boxList {
    min-width: 15%;
}

panel#msgHeader {
    text-align: fill;
}