.money {

    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;

    background-image: url('res://imageset_menu_neo/material/menu_money_center');
    border-left-image: url('res://imageset_menu_neo/material/menu_money_left');
    border-right-image: url('res://imageset_menu_neo/material/menu_money_right');

    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
}

.infobar {
    min-width: 450px;
    min-height: 46px;
    padding-bottom: 8px;

    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;

    background-image: url('res://imageset_menu_neo/material/menu_top_center');
    border-left-image: url('res://imageset_menu_neo/material/menu_top_left');
    border-right-image: url('res://imageset_menu_neo/material/menu_top_right');

    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
}

.infobar label {
    margin-left: 4px;
    margin-right: 4px;
}


/*====== !SIDEBAR ======*/

toggle-button {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;

    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;

    border-left-image: none;
    border-right-image: none;
    background-image: none;
}

.left {
    vertical-align: fill;
    text-align: fill;

    border-top-image: url('res://imageset_menu_neo/material/menu_left_background_top');
    border-bottom-image: url('res://imageset_menu_neo/material/menu_left_background_bottom');
    background-image: url('res://imageset_menu_neo/material/menu_left_repeat_background');


    vertical-align: fill;
    text-align: left
}

.left > vbox {
    min-width: 165px;
    /*padding: -20px 0px -20px -10px;*/

    border-bottom-image: none;
    border-bottom-left-image: url('res://imageset_menu_neo/material/menu_left_bottom');
    border-bottom-right-image: none;

    border-left-image: url('res://imageset_menu_neo/material/menu_left_center');
    border-right-image: none;
    border-top-image: none;

    border-top-left-image: url('res://imageset_menu_neo/material/menu_left_top');
    border-top-right-image: none;
    background-image: none;
    vertical-align: center;
}

.left * {
    text-align: left;
}

.right {
    vertical-align: fill;
    text-align: fill;

    border-top-image: url('res://imageset_menu_neo/material/menu_right_background_top');
    border-bottom-image: url('res://imageset_menu_neo/material/menu_right_background_bottom');
    background-image: url('res://imageset_menu_neo/material/menu_right_repeat_background');


    vertical-align: fill
    text-align: right
}

.right > vbox {
    min-width: 165px;
    /*padding: -20px -10px -20px 0px;*/
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: url('res://imageset_menu_neo/material/menu_right_bottom');

    border-left-image: none;
    border-right-image: url('res://imageset_menu_neo/material/menu_right_center');
    border-top-image: none;

    border-top-left-image: none;
    border-top-right-image: url('res://imageset_menu_neo/material/menu_right_top');
    background-image: none;

    background-repeat: y-repeat;
    vertical-align: center;
}

.right * {
    text-align: right;
}

toggle-button {
    font-size: 10pt;
    font-family: xirod;
    vertical-align: center;
    color: #92EDF2;
    border-bottom-image: url('res://imageset_menu_neo/material/button_center_enabled');
}

toggle-button:over {
    color: #FFBF00;
    border-bottom-image: url('res://imageset_menu_neo/material/button_center_over');
}

toggle-button:selected {
    color: #FFBF00;
    border-bottom-image: url('res://imageset_menu_neo/material/button_center_over');
}

toggle-button:pressed {
    color: white;
    border-bottom-image: url('res://imageset_menu_neo/material/button_center_press');
}

.left toggle-button {
    padding: 0 10px -10px 17px;
    border-bottom-left-image: url('res://imageset_menu_neo/material/button_left_enabled');
}

.left toggle-button:over {
    border-bottom-left-image: url('res://imageset_menu_neo/material/button_left_over');
}

.left toggle-button:selected {
    border-bottom-left-image: url('res://imageset_menu_neo/material/button_left_over');
}

.left toggle-button:pressed {
    border-bottom-left-image: url('res://imageset_menu_neo/material/button_left_press');
}

.right toggle-button {
    padding: 0 17px -10px 10px;
    direction: rtl;
    border-bottom-right-image: url('res://imageset_menu_neo/material/button_right_enabled');
}

.right toggle-button:over {
    border-bottom-right-image: url('res://imageset_menu_neo/material/button_right_over');
}

.right toggle-button:selected {
    border-bottom-right-image: url('res://imageset_menu_neo/material/button_right_over');
}

.right toggle-button:pressed {
    border-bottom-right-image: url('res://imageset_menu_neo/material/button_right_press');
}


/*====== USER BALANCE ======*/

.credit {
    color: blue;
    text-alignment: center;
    font-weight: bold;
    font-size: 10;
}

.transition {
    color: white;
    text-alignment: center;
    font-weight: bold;
    font-size: 10;
}

.negative-balance {
    color: red;
    text-alignment: center;
    font-weight: bold;
    font-size: 10;
}

.positive-balance {
    color: white;
    text-alignment: center;
    font-weight: bold;
    font-size: 10;
}