.missionIcon {
    icon: url('res://imageset_iconography/amm_grp_balistic');
}

labeled-icon {

}

textarea.linebutton {
    font-size: 11;
    font-weight: bold;
    color: rgb(255, 118, 0);

    border-left-image: url('res://imageset_panel_neo/button_collapse_closed_enabled');
}

textarea.linebutton:over {
    font-size: 11;
    font-weight: bold;
    color: rgb(255, 255, 255);

    border-left-image: url('res://imageset_panel_neo/button_collapse_closed_over');
}


textarea[name=npc-text] {
    font-size: 11;
    font-weight: bold;
}

textarea.button:over {
    color: rgb(255, 255, 255);
}

textarea[name=pc-option] {
    mouse-over-sound: 'sfx_radio_over';
    mouse-click-sound: 'sfx_radio_click';
}