label[name=objects-label] {
    font-family: tahoma;
    margin-bottom: 2px;
}

label[name=ships-label] {
    font-family: tahoma;
    margin-bottom: 2px;
}

panel[name=northPane] {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: url('res://imageset_panel_neo/material/panel_header_small_left');
    border-right-image: url('res://imageset_panel_neo/material/panel_header_small_right');
    background-image: url('res://imageset_panel_neo/material/panel_header_small_center');
}

panel[name=northPane] > label {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: url('res://imageset_window_neo/material/window_header_title_background');
    background-repeat: no-repeat;
    background-position: right;
    font-family: tahoma;
    font-size: 11px;
    padding-left: 0px;
    padding-right: 32px;
    margin-bottom: 1px;
}

panel[name=selectionPanel] {
    color-alpha: 0.8;
    margin: 1px;
    padding: 4px;
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-left-image: none;
    border-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    background-image: none;
}

window {
    color-alpha: 0.8;
    padding: 10px;
    border-bottom-image: url('res://imageset_tabpane_neo/material/tab_line');
    border-bottom-left-image: url('res://imageset_tabpane_neo/material/tab_line');
    border-bottom-right-image: url('res://imageset_tabpane_neo/material/tab_line');

    border-top-image: url('res://imageset_tabpane_neo/material/tab_line');
    border-top-left-image: url('res://imageset_tabpane_neo/material/tab_line');
    border-top-right-image: url('res://imageset_tabpane_neo/material/tab_line');


    border-left-image: url('res://imageset_row_neo/material/row_special_left');
    border-right-image: url('res://imageset_row_neo/material/row_special_right');
    background-image: url('res://imageset_row_neo/material/row_special_center');

    min-height: 200px;
    max-height: 400px;
}
