* {
    cursor: url('res://data/gui/imageset/imageset_core/mouse_enabled');
}

textfield, textarea, editor {
    cursor: text-cursor;
}

.alternateCursor {
    cursor: url('res://data/gui/imageset/imageset_core/mouse_combat');
    cursor-top: 0;
    cursor-left: 0;
}