label[name=label1] {
    font-family: xirod;
}

label[name=label2] {
    font-family: xirod;
}

label[name=label3] {
    font-size: 9px;
}

label[name=label4] {
    font-size: 9px;
}

panel[name=headerTop] {
    padding-top: -2px;
}

panel[name=headerBottom] {
    padding-top: -2px;
    padding-bottom: -2px;
}

panel.picturePanel {
    width: 30px;
    min-width: 30px;
    max-width: 30px;
}