[name=ammo-count] {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;

    border-top-image: url('res://imageset_new_window/material/background_borders');
    border-top-left-image: url('res://imageset_new_window/material/background_borders');
    border-top-right-image: url('res://imageset_new_window/material/background_borders');

    border-left-image: url('res://imageset_new_window/material/background_borders');
    border-right-image: none;
    background-image: url('res://imageset_new_window/material/background_center');

    margin: 1px;
    padding: 2px;
}


label {
    font-family: tahoma;
    font-alias: false;
}


label[name=weapon-index] {
    top: 1px;
    left: 1px;

    border-bottom-image: url('res://imageset_new_window/material/background_borders');
    border-bottom-left-image: none;
    border-bottom-right-image: url('res://imageset_new_window/material/background_borders');

    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;

    border-left-image: none;
    border-right-image: url('res://imageset_new_window/material/background_borders');
    background-image: url('res://imageset_new_window/material/background_center');

    text-align: right;
    font-size: 9pt;

    padding: 2px;
}

[name=root] {
    border-bottom-image: url('res://imageset_window_neo/material/window_content_bottom');
    border-bottom-left-image: url('res://imageset_window_neo/material/window_content_lower_left');
    border-bottom-right-image: url('res://imageset_window_neo/material/window_content_lower_right');
    border-top-image: url('res://imageset_window_neo/material/window_content_top');
    border-top-left-image: url('res://imageset_window_neo/material/window_content_upper_left');
    border-top-right-image: url('res://imageset_window_neo/material/window_content_upper_right');
    border-left-image: url('res://imageset_window_neo/material/window_content_left');
    border-right-image: url('res://imageset_window_neo/material/window_content_right');
    background-image: url('res://imageset_window_neo/material/window_content_center');
    border-left-image-repeat: repeat-y;
    border-right-image-repeat: repeat-y;
    background-repeat: repeat-y-stretch-x;
    padding: 2px;
    width: 120px;
    height: 100px;
}

picture[name=weapon-icon] {
    border-bottom-image: url('res://imageset_new_window/material/background_borders');
    border-bottom-left-image: url('res://imageset_new_window/material/background_borders');
    border-bottom-right-image: url('res://imageset_new_window/material/background_borders');

    border-top-image: url('res://imageset_new_window/material/background_borders');
    border-top-left-image: url('res://imageset_new_window/material/background_borders');
    border-top-right-image: url('res://imageset_new_window/material/background_borders');

    border-left-image: url('res://imageset_new_window/material/background_borders');
    border-right-image: url('res://imageset_new_window/material/background_borders');

    min-width: 48px;
    min-height: 48px;
    text-align: fill;
    vertical-align: fill;

    padding: 3px;
}

picture[name=ammo-icon] {
    border-bottom-image: url('res://imageset_new_window/material/background_borders');
    border-bottom-left-image: url('res://imageset_new_window/material/background_borders');
    border-bottom-right-image: url('res://imageset_new_window/material/background_borders');

    border-top-image: url('res://imageset_new_window/material/background_borders');
    border-top-left-image: url('res://imageset_new_window/material/background_borders');
    border-top-right-image: url('res://imageset_new_window/material/background_borders');

    border-left-image: url('res://imageset_new_window/material/background_borders');
    border-right-image: url('res://imageset_new_window/material/background_borders');

    min-width: 23px;
    min-height: 23px;

    text-align: fill;
    vertical-align: fill;

    padding: 2px;
}

label[name=ammo-count] {
    text-align: right;
    vertical-align: bottom;

    font-size: 9pt;
}

label[name=ammo-count].ready {
    color: white;
}

label[name=ammo-count].low {
    color: yellow;
}

label[name=ammo-count].empty {
    color: red;
}

label[name=ammo-name].low {
    color: yellow;
}

label[name=ammo-name].empty {
    color: red;
}

label[name=name] {
    font-size: 10pt;
    font-alias: false;
    margin-left: 3px;
    margin-rigth: 3px;
    color: white;
}

label[name=name].ready {
    color: yellow;
}

label[name=name].notready {
    color: red;
}

label[name=name].locking {
    color: yellow;
}

label[name=range] {
    font-size: 10pt;
    font-alias: false;
    margin-left: 3px;
    margin-rigth: 3px;
    color: white;
}

label[name=range].inrange {
    color: green;
}

label[name=range].offrange {
    color: red;
}

.left {
    text-align: left;
    vertical-align: top;

    width: 90px;
    height: 99px;

    padding-left: 4px;
    padding-top: 4px;
    margin: 1px;

    background-image: url('res://imageset_weaponselector/material/cannon_display');
}

.left label[name=name] {
    text-align: left;
}

.left label[name=range] {
    text-align: left;
}

.right {
    text-align: right;
    vertical-align: top;

    width: 90px;
    height: 99px;

    padding-right: 4px;
    padding-top: 4px;
    margin: 1px;

    background-image: url('res://imageset_weaponselector/material/launcher_display');
}

.right label[name=name] {
    text-align: right;
}

.right label[name=range] {
    text-align: right;
}

/* list stuff */


.cell label[name=name] {
    font-size: 14pt;
    text-align: left;
}

.cell label[name=ammo-name] {
    font-size: 10pt;
    text-align: left;
}

.cell label[name=ammo-count] {
    margin: 3px;
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;

    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;

    border-left-image: none;
    border-right-image: none;
    background-image: none;
}

.cell label[name=range] {
    padding: 3px;
    text-align: center;
    vertical-align: center;
}

.cell picture[name=weapon-category] {
    margin: 3px;
    text-align: center;
    vertical-align: center;
}
