taskpane {
    min-height: 210px;
    height: 210px;
    max-height: 400px;
}

panel.contact-entry label[name=contact-name] {
    font-weight: bold;
}

panel.contact-entry picture {
    margin: 3px 3px 3px 0px;
}

panel.spanel {
    margin-top: 8px;
}