window {
    width: 300px;
    height: 0px;
    min-width: 255px;
    min-height: 0px;
    max-width: 335px;
    max-height: 0px;
    blur-behind: false;
    margin: 0px;
    padding: 0px;
}

taskpane-container[name=tpContainer] {
    padding: 4px;
}

window > rootpane, window > rootpane > contentpane {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: none;
    margin: 0px;
    padding: 0px;
    blur-behind: false;
}

layeredpane {
    padding: 10px;
}


/*
window.left>rootpane {
	background-image: url('res://imageset_window_neo/material/taskpane_left_background');
}
*/

/*
window.right>rootpane {
	background-image: url('res://imageset_window_neo/material/taskpane_right_background');
}
*/


panel {
    blur-behind: false;
}

button[name=resize-button] {
    cursor: w-resize-cursor;
    width: 5px;
    min-width: 5px;
    max-width: 5px;
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: none;

    mouse-over-sound: none;
    mouse-press-sound: none;
}