button.mainMenuButton.storage {
    background-image: url('res://imageset_iconography/material/button_storage_enabled');
}

button.mainMenuButton.storage:hover {
    background-image: url('res://imageset_iconography/material/button_storage_over');
}

button.mainMenuButton.storage:over {
    background-image: url('res://imageset_iconography/material/button_storage_over');
}

button.mainMenuButton.storage:pressed {
    background-image: url('res://imageset_iconography/material/button_storage_press');
}

button.mainMenuButton.storage:selected {
    background-image: url('res://imageset_iconography/material/button_storage_over');
}

button.mainMenuButton.storage:over-selected {
    background-image: url('res://imageset_iconography/material/button_storage_over');
}
