.vBackground {
    margin-bottom: 6px;
}

scrollable > viewport {
    margin-right: 10px;
    padding: 0px;
}

panel[name=leftColumn], panel[name=rightColumn] {
    padding-left: 15px;
    padding-right: 5px;
}

rootpane {
    background-image: none;
}

window, window > rootpane, window > rootpane > contentpane {
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-bottom-image: none;
    border-left-image: none;
    border-right-image: none;
    border-top-right-image: none;
    background-image: none;
    background-repeat: no-repeat;
    background-color-alpha: 0;
    margin: 10px;
    blur-behind: false;
}

button.bigbutton,
button.bigbutton2 {
    min-width: 150px;
    mouse-click-sound: none;
    mouse-press-sound: 'sfx_mouse_click';
}

label {
    text-align: center;
}

label.fieldLabel {
    font-family: xirod;
}

button[name=zoomIn] {
    icon: url('res://imageset_iconbutton_neo/material/icon_zoomin_normal');
    mouse-press-sound: none;
}

button[name=zoomIn]:over {
    icon: url('res://imageset_iconbutton_neo/material/icon_zoomin_bright');
}

button[name=zoomOut] {
    icon: url('res://imageset_iconbutton_neo/material/icon_zoomout_normal');
    mouse-press-sound: none;
}

button[name=zoomOut]:over {
    icon: url('res://imageset_iconbutton_neo/material/icon_zoomout_bright');
}

button[name=rotateCCW] {
    icon: url('res://imageset_iconbutton_neo/material/icon_right_normal');
    mouse-press-sound: none;
}

button[name=rotateCCW]:over {
    icon: url('res://imageset_iconbutton_neo/material/icon_right_bright');
}

button[name=rotateCW] {
    icon: url('res://imageset_iconbutton_neo/material/icon_left_normal');
    mouse-press-sound: none;
}

button[name=rotateCW]:over {
    icon: url('res://imageset_iconbutton_neo/material/icon_left_bright');
}

toggle-button.color-picker, panel.color-picker {
    background-image: url('res://imageset_core/material/white_pixel');
}

toggle-button[name=selectMale] {
    icon: url('res://imageset_iconbutton_neo/material/icon_male_normal');
    min-width: 40px;
    width: 40px;
    min-height: 0px;
}

toggle-button[name=selectMale]:selected,
toggle-button[name=selectMale]:over {
    icon: url('res://imageset_iconbutton_neo/material/icon_male_bright');
}

toggle-button[name=selectFemale] {
    icon: url('res://imageset_iconbutton_neo/material/icon_female_normal');
    min-width: 40px;
    width: 40px;
    min-height: 0px;
}

toggle-button[name=selectFemale]:selected,
toggle-button[name=selectFemale]:over {
    icon: url('res://imageset_iconbutton_neo/material/icon_female_birhgt');
}

toggle-button[name=selectBodySlim] {
    icon: url('res://imageset_iconbutton_neo/material/icon_thin_normal');
}

toggle-button[name=selectBodyNormal] {
    icon: url('res://imageset_iconbutton_neo/material/icon_fit_normal');
}

toggle-button[name=selectBodyLarge] {
    icon: url('res://imageset_iconbutton_neo/material/icon_wide_normal');
}

slider[name=heightSlider] {
    min-height: 25%
}

panel[name=leftColumn], panel[name=rightColumn] {
    margin: 8px;
    min-width: 256px;
}

panel.verticalbox {
    max-width: 2px;
}

panel[name=attributes-panel] label {
    text-align: left;
}

panel[name=centerPanel] {
    border-bottom-image: none;
    border-bottom-left-image: url('res://imageset_box_neo/material/box_ver_lock_lower_left');
    border-bottom-right-image: url('res://imageset_box_neo/material/box_ver_lock_lower_right');
    border-top-image: none;
    border-top-left-image: url('res://imageset_box_neo/material/box_ver_lock_upper_left');
    border-top-right-image: url('res://imageset_box_neo/material/box_ver_lock_upper_right');
    border-left-image: url('res://imageset_box_neo/material/box_ver_lock_left');
    border-right-image: url('res://imageset_box_neo/material/box_ver_lock_right');
    background-image: none;
}

picture.iconbutton {
    width: 140px;
    min-width: 140px;
    max-width: 140px;
}

textarea[name=career-description] {
    min-height: 50%;
}

picture.none {
    icon: url('res://imageset_iconbutton_neo/material/icon_star_zero')
}

picture.high {
    icon: url('res://imageset_iconbutton_neo/material/icon_star_three')
}

picture.medium {
    icon: url('res://imageset_iconbutton_neo/material/icon_star_two')
}

picture.low {
    icon: url('res://imageset_iconbutton_neo/material/icon_star_one')
}

panel[name=namePanel] {
    width: 300px;
    height: 40px;
    min-width: 300px;
    min-height: 40px;
}

list[name=career-list] > *,
list[name=career-list] > *:selected > panel {
    border-style: compound;
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-left-image: none;
    border-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    background-image: none;
}

list[name=career-list] > *:selected > * {
    border-style: compound;
    border-bottom-image: url('res://imageset_iconbutton_neo/material/button_icon_bottom_over');
    border-bottom-left-image: url('res://imageset_iconbutton_neo/material/button_icon_lower_left_over');
    border-bottom-right-image: url('res://imageset_iconbutton_neo/material/button_icon_lower_right_over');

    border-top-image: url('res://imageset_iconbutton_neo/material/button_icon_top_over');
    border-top-left-image: url('res://imageset_iconbutton_neo/material/button_icon_upper_left_over');
    border-top-right-image: url('res://imageset_iconbutton_neo/material/button_icon_upper_right_over');

    background-image: url('res://imageset_iconbutton_neo/material/button_icon_center_over');
    border-left-image: url('res://imageset_iconbutton_neo/material/button_icon_left_over');
    border-right-image: url('res://imageset_iconbutton_neo/material/button_icon_right_over');
}


[name=confirm] {
    font-family: xirod;
}