taskpane {
    height: 200px;
    min-height: 150px;
    max-height: 610px;
}

checkbox {
    font-size: 10px;
    font-family: tahoma;
}

.upPanel {
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}

.playerField {
    width: 90px;
}

scrollable[name=scroll] {
    margin-top: 8px 3px 0px 3px;
}

panel.spacer {
    border-bottom-image: url('res://imageset_tabpane_neo/material/tab_line');
    width: 2px;
}

panel.chatfield {
    font-family: tahoma;
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: url('res://imageset_textfield_neo/material/textfield_left_enabled');
    border-right-image: url('res://imageset_textfield_neo/material/textfield_right_enabled');
    background-image: url('res://imageset_textfield_neo/material/textfield_center_enabled');
    min-height: 30px;
}

.unborderedLabel {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: none;
    min-height: 30px;
}

.hyperlink {
    cursor: hand-cursor;
}

toggle-button.simpleMode {
    border-bottom-image: url('res://imageset_tabpane_neo/material/tab_line');
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: none;
    color: rgb(0, 0, 0, 0);
    color-alpha: 0;
}

npanel.simpleMode {
    margin-top: 10px;
    padding-top: 10px;
}