body {
    font-family: tahoma;
    font-size: 11px;
    width: 100%;
    height: 100%;
}

div {
    width: 100%;
}

a {
    text-decoration: none;
    color: rgb(255, 160, 85);
}

.station {
    color: rgb(255, 58, 53);
}

.local {
    color: rgb(255, 255, 255);
}

.party {
    color: rgb(20, 215, 65);
}

.corp {
    color: rgb(0, 200, 255);
}

.pvt {
    color: rgb(255, 190, 0);
}

.sys {
    color: white;
    text-wight: bold;
}