taskpane {
    height: 250px;
    min-height: 180px;
    max-height: 350px;
}

label.readonly {
    min-width: 40px;
}

label[name=tableInfo] {
    padding-top: -2px;
    padding-bottom: -2px;
    margin-bottom: 0px;
}

