toggle-button.oniNetButton {
    icon: url('res://imageset_iconography/material/button_help_enabled');
}

toggle-button.oniNetButton:hover {
    icon: url('res://imageset_iconography/material/button_help_over');
}

toggle-button.oniNetButton:over {
    icon: url('res://imageset_iconography/material/button_help_over');
}

toggle-button.oniNetButton:pressed {
    icon: url('res://imageset_iconography/material/button_help_press');
}

toggle-button.oniNetButton:selected {
    icon: url('res://imageset_iconography/material/button_help_over');
}

toggle-button.oniNetButton:over-selected {
    icon: url('res://imageset_iconography/material/button_help_over');
}
