window {
    width: 400px;
    height: 480px;
    min-width: 400px;
    min-height: 480px;
}

label.readonly {
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    text-align: right;
}

panel[name=downPanel] {
    border-top-image: url('res://imageset_tabpane_neo/material/tab_line');
    margin-top: 4px;
    padding-top: 4px;
}

table > * > * {
    text-align: left;
}