button.mainMenuButton.contract {
    background-image: url('res://imageset_iconography/material/button_contracts_enabled');
}

button.mainMenuButton.contract:hover {
    background-image: url('res://imageset_iconography/material/button_contracts_over');
}

button.mainMenuButton.contract:over {
    background-image: url('res://imageset_iconography/material/button_contracts_over');
}

button.mainMenuButton.contract:pressed {
    background-image: url('res://imageset_iconography/material/button_contracts_press');
}

button.mainMenuButton.contract:selected {
    background-image: url('res://imageset_iconography/material/button_contracts_selected');
}

button.mainMenuButton.contract:over-selected {
    background-image: url('res://imageset_iconography/material/button_contracts_selected');
}
