table {
    width: 100%;
}

td {
    width: 50%;
}

.title {
    text-align: right;
    vertical-align: top;
    color: white;
    font-family: Tahoma, Verdana, Arial, sans;
    padding: 0px;
    font-weight: bold;
}

.name {
    text-align: left;
    vertical-align: top;
    color: white;
    font-family: Tahoma, Verdana, Arial, sans;
    padding-bottom: 10px;
}

.spacer {
    height: 10px;
}