window, window:disabled {
    width: 400px;
    min-height: 60px;
}

list, list:disabled {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    padding-top: -5px;
    margin: -4px;
}