window {
    width: 640px;
    height: 480px;
    min-width: 560px;
    min-height: 460px;
    max-width: 885px;
    max-height: 575px;
}

panel[name=hoplonpanel] {
    margin-right: 6px;
    margin-top: 3px;
}

panel[name=hoplonline] {
    border-top-image: url('res://imageset_tabpane_neo/material/tab_line');
    padding-top: 3px;
    margin-top: 3px;
}

label[name=hoplonsCreditsLabel] {
    min-width: 40px;
}