toggle-button {
    border-bottom-image: url('res://imageset_header_neo/material/button_menu_special_bottom_enabled');
    border-bottom-left-image: url('res://imageset_header_neo/material/button_menu_special_lower_left_enabled');
    border-bottom-right-image: url('res://imageset_header_neo/material/button_menu_special_lower_right_enabled');

    border-top-image: url('res://imageset_header_neo/material/button_menu_special_top_enabled');
    border-top-left-image: url('res://imageset_header_neo/material/button_menu_special_upper_left_enabled');
    border-top-right-image: url('res://imageset_header_neo/material/button_menu_special_upper_right_enabled');

    border-left-image: url('res://imageset_header_neo/material/button_menu_special_left_enabled');
    border-right-image: url('res://imageset_header_neo/material/button_menu_special_right_enabled');
    background-image: url('res://imageset_header_neo/material/button_menu_special_center_enabled');

    icon: url('res://imageset_header_neo/material/button_icon_hoplon');

    font-size: 9px;
    min-height: 50px;
    min-width: 50px;
    margin: -3px;
}

toggle-button:over {
    border-bottom-image: url('res://imageset_header_neo/material/button_menu_bottom_over');
    border-bottom-left-image: url('res://imageset_header_neo/material/button_menu_lower_left_over');
    border-bottom-right-image: url('res://imageset_header_neo/material/button_menu_lower_right_over');

    border-top-image: url('res://imageset_header_neo/material/button_menu_top_over');
    border-top-left-image: url('res://imageset_header_neo/material/button_menu_upper_left_over');
    border-top-right-image: url('res://imageset_header_neo/material/button_menu_upper_right_over');

    border-left-image: url('res://imageset_header_neo/material/button_menu_left_over');
    border-right-image: url('res://imageset_header_neo/material/button_menu_right_over');
    background-image: url('res://imageset_header_neo/material/button_menu_center_over');
}

toggle-button:pressed {
    border-bottom-image: url('res://imageset_header_neo/material/button_menu_bottom_press');
    border-bottom-left-image: url('res://imageset_header_neo/material/button_menu_lower_left_press');
    border-bottom-right-image: url('res://imageset_header_neo/material/button_menu_lower_right_press');

    border-top-image: url('res://imageset_header_neo/material/button_menu_top_press');
    border-top-left-image: url('res://imageset_header_neo/material/button_menu_upper_left_press');
    border-top-right-image: url('res://imageset_header_neo/material/button_menu_upper_right_press');

    border-left-image: url('res://imageset_header_neo/material/button_menu_left_press');
    border-right-image: url('res://imageset_header_neo/material/button_menu_right_press');
    background-image: url('res://imageset_header_neo/material/button_menu_center_press');
}

toggle-button:selected {
    border-bottom-image: url('res://imageset_header_neo/material/button_menu_special_bottom_selected');
    border-bottom-left-image: url('res://imageset_header_neo/material/button_menu_special_lower_left_selected');
    border-bottom-right-image: url('res://imageset_header_neo/material/button_menu_special_lower_right_selected');

    border-top-image: url('res://imageset_header_neo/material/button_menu_special_top_selected');
    border-top-left-image: url('res://imageset_header_neo/material/button_menu_special_upper_left_selected');
    border-top-right-image: url('res://imageset_header_neo/material/button_menu_special_upper_right_selected');

    border-left-image: url('res://imageset_header_neo/material/button_menu_special_left_selected');
    border-right-image: url('res://imageset_header_neo/material/button_menu_special_right_selected');
    background-image: url('res://imageset_header_neo/material/button_menu_special_center_selected');
}

toggle-button:over:selected {
    border-bottom-image: url('res://imageset_header_neo/material/button_menu_bottom_over');
    border-bottom-left-image: url('res://imageset_header_neo/material/button_menu_lower_left_over');
    border-bottom-right-image: url('res://imageset_header_neo/material/button_menu_lower_right_over');

    border-top-image: url('res://imageset_header_neo/material/button_menu_top_over');
    border-top-left-image: url('res://imageset_header_neo/material/button_menu_upper_left_over');
    border-top-right-image: url('res://imageset_header_neo/material/button_menu_upper_right_over');

    border-left-image: url('res://imageset_header_neo/material/button_menu_left_over');
    border-right-image: url('res://imageset_header_neo/material/button_menu_right_over');
    background-image: url('res://imageset_header_neo/material/button_menu_center_over');
}