.validconversionvalue {
    color: white;
}

.invalidconversionvalue {
    color: red;
}

picture[name=hoplonIndustriesPicture] {
    icon: url('res://imageset_iconography/material/icon_hoplon');
}

panel[name=exchange] {
    margin: 5px;
}

textfield[name=conversionOfHSTextField], label[name=conversionToTSTextField] {
    width: 50px;
    max-width: 50px;
}