window {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}

panel[name=tipPanel] {
    border-bottom-image: url('res://imageset_window_neo/material/window_dim_content_bottom');
    border-bottom-left-image: url('res://imageset_window_neo/material/window_dim_content_lower_left');
    border-bottom-right-image: url('res://imageset_window_neo/material/window_dim_content_lower_right');
    border-top-image: url('res://imageset_window_neo/material/window_dim_content_top');
    border-top-left-image: url('res://imageset_window_neo/material/window_dim_content_upper_left');
    border-top-right-image: url('res://imageset_window_neo/material/window_dim_content_upper_right');
    border-left-image: url('res://imageset_window_neo/material/window_dim_content_left');
    border-right-image: url('res://imageset_window_neo/material/window_dim_content_right');
    background-image: url('res://imageset_window_neo/material/window_dim_content_center');
    border-left-image-repeat: repeat-y;
    border-right-image-repeat: repeat-y;
    background-repeat: repeat-y-stretch-x;
    background-alpha: 0;
    blur-behind: false;

    padding: 4px;
    width: 400px;
    height: 110px;
    max-width: 400px;
    max-height: 110px;
    min-width: 400px;
    min-height: 110px;
}

progress {
    min-width: 380px;
    width: 380px;
}