window {
    width: 640px;
    height: 480px;
    min-width: 495px;
    min-height: 350px;
    max-width: 1020px;
    max-height: 760px;
}

.treeNode {
    color: gray;
}

.treeNode:selected {
    color: white;
}

.parentTreeNode {
    icon: url('res://imageset_core/material/button_plus_over');
}

.parentTreeNodeExpanded {
    icon: url('res://imageset_core/material/button_minus_over');
}

.leafTreeNode {
    icon: url('res://imageset_core/material/button_radio_enabled');
}

.leafTreeNode:selected {
    color: white;
    icon: url('res://imageset_core/material/button_radio_disabled');
}

panel[name=iconPanel] {
    min-height: 100px;
    max-height: 100px;
    height: 100px;
    min-width: 100px;
    max-width: 100px;
    width: 100px;
}

panel[name=searchPanel] {
    margin-top: 3px;
}

table > row {
    border-style: compound;
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-left-image: none;
    border-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    background-image: none;
}

table > * > * {
    margin: 0px;
}