panel[name=cellsPanel] > button {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
}

button.installed {
    background-image: url('res://imageset_iconbutton_neo/slot_progression_selected');
}

button.installable {
    background-image: url('res://imageset_iconbutton_neo/slot_progression_enabled');
}

button.installable:over {
    background-image: url('res://imageset_iconbutton_neo/slot_progression_over');
}

button.installable:pressed {
    background-image: url('res://imageset_iconbutton_neo/slot_progression_over');
    color-multiplier: rgb(170, 170, 170, 170);
}

button.disabled {
    background-image: url('res://imageset_iconbutton_neo/slot_progression_enabled');
    color-multiplier: rgb(127, 127, 127, 127);
}

.disabled-icon {
    color-multiplier: rgb(127, 127, 127, 127);
}

.line-disabled {
    color-multiplier: rgb(127, 127, 127, 127);
}

.line-title {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: url('res://imageset_window_neo/material/window_header_left');
    border-right-image: url('res://imageset_window_neo/material/window_header_right');
    background-image: url('res://imageset_window_neo/material/window_header_center');
    margin-bottom: 1px;
}

.line-icon-panel {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: url('res://imageset_window_neo/material/window_header_left');
    border-right-image: url('res://imageset_window_neo/material/window_header_right');
    background-image: url('res://imageset_window_neo/material/window_header_center');
    margin-bottom: 1px;
    margin-right: 3px;
}

panel.panel-title {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: url('res://imageset_panel_neo/material/panel_header_small_left');
    border-right-image: url('res://imageset_panel_neo/material/panel_header_small_right');
    background-image: url('res://imageset_panel_neo/material/panel_header_small_center');
    font-size: 9px;
}

panel[name=avatarPanel] {
    padding-top: -70px;
    padding-bottom: -100px;
    padding-right: -7px;
    padding-left: -8px;
}

panel[name=logoPanel] {
    padding-top: 40px;
    padding-left: 40px;
}