.rewardPanel {
    width: 200px;
    height: 100px;

    padding: 2px;

    border-bottom-image: url('res://imageset_new_window/material/background_borders');
    border-bottom-left-image: url('res://imageset_new_window/material/background_borders');
    border-bottom-right-image: url('res://imageset_new_window/material/background_borders');

    border-top-image: url('res://imageset_new_window/material/background_borders');
    border-top-left-image: url('res://imageset_new_window/material/background_borders');
    border-top-right-image: url('res://imageset_new_window/material/background_borders');

    border-left-image: url('res://imageset_new_window/material/background_borders');
    border-right-image: url('res://imageset_new_window/material/background_borders');
    background-image: url('res://imageset_new_window/material/background_center');
}

.taeis {
    background-image: url('res://imageset_core/button_chat_channel_squadron_over');
}

.meritos {
    background-image: url('res://imageset_core/material/loadingbar_container_center');
}

.pda {
    background-image: url('res://imageset_core/button_chat_channel_global_over');
}