.ship-not-selected {
    border-style: compound;
    border-bottom-image: url('res://imageset_row_neo/material/row_bottom_enabled');
    border-bottom-left-image: url('res://imageset_row_neo/material/row_lower_left_enabled');
    border-bottom-right-image: url('res://imageset_row_neo/material/row_lower_right_enabled');
    border-left-image: url('res://imageset_row_neo/material/row_left_enabled');
    border-right-image: url('res://imageset_row_neo/material/row_right_enabled');
    border-top-image: url('res://imageset_row_neo/material/row_top_enabled');
    border-top-left-image: url('res://imageset_row_neo/material/row_upper_left_enabled');
    border-top-right-image: url('res://imageset_row_neo/material/row_upper_right_enabled');

    background-image: none;
    padding-left: 3px;
    padding-right: 3px;

}

.ship-selected {
    border-bottom-image: url('res://imageset_row_neo/material/row_bottom_selected');
    border-bottom-left-image: url('res://imageset_row_neo/material/row_lower_left_selected');
    border-bottom-right-image: url('res://imageset_row_neo/material/row_lower_right_selected');
    border-top-image: url('res://imageset_row_neo/material/row_top_selected');
    border-top-left-image: url('res://imageset_row_neo/material/row_upper_left_selected');
    border-top-right-image: url('res://imageset_row_neo/material/row_upper_right_selected');
    border-left-image: url('res://imageset_row_neo/material/row_left_selected');
    border-right-image: url('res://imageset_row_neo/material/row_right_selected');
    background-image: url('res://imageset_row_neo/material/row_center_selected');

    color: red;
}

.good {
    icon: url('res://imageset_iconbutton_neo/material/icon_star_three')
}

.regular {
    icon: url('res://imageset_iconbutton_neo/material/icon_star_two')
}

.bad {
    icon: url('res://imageset_iconbutton_neo/material/icon_star_one')
}