panel[name=main] {
    border-bottom-image: url('res://imageset_header_neo/material/header_frame_bottom');
    border-bottom-left-image: url('res://imageset_header_neo/material/header_frame_lower_left');
    border-bottom-right-image: url('res://imageset_header_neo/material/header_frame_lower_right');
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: url('res://imageset_header_neo/material/header_frame_left');
    border-right-image: url('res://imageset_header_neo/material/header_frame_right');
    background-image: none;

    padding: 0px -5px -19px -5px;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 330px;
    min-width: 330px;
    height: 50px;
    min-height: 50px;
}

panel[name=content] {
    border-bottom-image: url('res://imageset_header_neo/material/header_msg_frame_bottom');
    border-bottom-left-image: url('res://imageset_header_neo/material/header_msg_frame_lower_left');
    border-bottom-right-image: url('res://imageset_header_neo/material/header_msg_frame_lower_right');
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: url('res://imageset_header_neo/material/header_msg_frame_left');
    border-right-image: url('res://imageset_header_neo/material/header_msg_frame_right');
    background-image: url('res://imageset_header_neo/material/header_msg_frame_center');
    padding: 0px;
}

panel[name=content] > label {
    type-animation-sound: 'sfx_message_type';
}

label {
    text-align: center;
}

label.big {
    font-size: 11px;
    font-weight: bold;
}

label.small {
    font-size: 10px;
    font-weight: normal;
}

label.mini {
    font-size: 9px;
    font-weight: normal;
}

label.white {
    color: white;
}

label.red {
    color: red;
}

label.yellow {
    color: yellow;
}