
toggle-button {
    text-align: center;
    vertical-align: center;
    padding: 1px;
    margin: 1px;

    border-bottom-image: url('res://imageset_new_button/material/button_bottom_enabled');
    border-bottom-left-image: url('res://imageset_new_button/material/button_lower_left_enabled');
    border-bottom-right-image: url('res://imageset_new_button/material/button_lower_right_enabled');

    border-top-image: url('res://imageset_new_button/material/button_top_enabled');
    border-top-left-image: url('res://imageset_new_button/material/button_upper_left_enabled');
    border-top-right-image: url('res://imageset_new_button/material/button_upper_right_enabled');

    border-left-image: url('res://imageset_new_button/material/button_left_enabled');
    border-right-image: url('res://imageset_new_button/material/button_right_enabled');
    background-image: url('res://imageset_new_button/material/button_center_enabled');
}

toggle-button:over {
    border-bottom-image: url('res://imageset_new_button/material/button_bottom_over');
    border-bottom-left-image: url('res://imageset_new_button/material/button_lower_left_over');
    border-bottom-right-image: url('res://imageset_new_button/material/button_lower_right_over');

    border-top-image: url('res://imageset_new_button/material/button_top_over');
    border-top-left-image: url('res://imageset_new_button/material/button_upper_left_over');
    border-top-right-image: url('res://imageset_new_button/material/button_upper_right_over');

    border-left-image: url('res://imageset_new_button/material/button_left_over');
    border-right-image: url('res://imageset_new_button/material/button_right_over');
    background-image: url('res://imageset_new_button/material/button_center_over');
}

toggle-button:selected {
    border-bottom-image: url('res://imageset_new_button/material/button_bottom_press');
    border-bottom-left-image: url('res://imageset_new_button/material/button_lower_left_press');
    border-bottom-right-image: url('res://imageset_new_button/material/button_lower_right_press');

    border-top-image: url('res://imageset_new_button/material/button_top_press');
    border-top-left-image: url('res://imageset_new_button/material/button_upper_left_press');
    border-top-right-image: url('res://imageset_new_button/material/button_upper_right_press');

    border-left-image: url('res://imageset_new_button/material/button_left_press');
    border-right-image: url('res://imageset_new_button/material/button_right_press');
    background-image: url('res://imageset_new_button/material/button_center_press');
}

toggle-button:disabled {
    color-alpha: 0.1;
    text-color-alpha: 0.1;

    border-bottom-image: url('res://imageset_new_button/material/button_bottom_press');
    border-bottom-left-image: url('res://imageset_new_button/material/button_lower_left_press');
    border-bottom-right-image: url('res://imageset_new_button/material/button_lower_right_press');

    border-top-image: url('res://imageset_new_button/material/button_top_press');
    border-top-left-image: url('res://imageset_new_button/material/button_upper_left_press');
    border-top-right-image: url('res://imageset_new_button/material/button_upper_right_press');

    border-left-image: url('res://imageset_new_button/material/button_left_press');
    border-right-image: url('res://imageset_new_button/material/button_right_press');
    background-image: url('res://imageset_new_button/material/button_center_press');
}
