button, stack {
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    max-width: 32px;
    max-height: 32px;
}

stack {
    text-align: left;
}

label {
    padding-left: 5px;
}

button {
    margin: 1px;
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: url('res://imageset_iconography/button_mini_tutorial_enabled');
}

button:hover {
    background-image: url('res://imageset_iconography/button_mini_tutorial_over');
}

button:pressed {
    background-image: url('res://imageset_iconography/button_mini_tutorial_press');
}