button[name=button-up] {
    background-image: url('res://imageset_core/material/scroll_button_up_enabled');
    border-left-image: none;
    border-right-image: none;
}

button[name=button-up]:disabled {
    background-image: url('res://imageset_core/material/scroll_button_up_disabled');
}

button[name=button-up]:over {
    background-image: url('res://imageset_core/material/scroll_button_up_over');
}

button[name=button-up]:hover {
    background-image: url('res://imageset_core/material/scroll_button_up_over');
}

button[name=button-up]:pressed {
    background-image: url('res://imageset_core/material/scroll_button_up_press');
}


button[name=button-down] {
    background-image: url('res://imageset_core/material/scroll_button_down_enabled');
    border-left-image: none;
    border-right-image: none;
}

button[name=button-down]:disabled {
    background-image: url('res://imageset_core/material/scroll_button_down_disabled');
}

button[name=button-down]:over {
    background-image: url('res://imageset_core/material/scroll_button_down_over');
}

button[name=button-down]:hover {
    background-image: url('res://imageset_core/material/scroll_button_down_over');
}

button[name=button-down]:pressed {
    background-image: url('res://imageset_core/material/scroll_button_down_press');
}