window {
    min-width: 0px;
    open-sound: 'sfx_npc_chat_popup';
    close-sound: none;
    open-sound: 'sfx_npc_chat_popup';
}

label[name=avatar] {
    margin: 4px;
    padding: -10px;
}

label[name=name] {
    margin: 5px;
}