picture.location {
    background-image: url('res://imageset_iconography/material/symbol_container');
}

picture.location.bay {
    background-image: url('res://imageset_iconography/material/symbol_hangar');
}

picture.location.slot {
    background-image: url('res://imageset_iconography/material/symbol_ship');
}

picture.location.cargohold {
    background-image: url('res://imageset_iconography/material/symbol_container');
}

picture.location.storage {
    background-image: url('res://imageset_iconography/material/symbo_storage); } combobox>button { min-width: 16px; min-height: 16px; }