label.node-title {
    text-align: left;

    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: url('res://imageset_window_neo/material/window_header_left');
    border-right-image: url('res://imageset_window_neo/material/window_header_right');
    background-image: url('res://imageset_window_neo/material/window_header_center');
    margin-bottom: 1px;
}

table > row,
list > *,
tree > *,
.cell {
    border-style: compound;
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-left-image: none;
    border-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    background-image: none;
    padding: 0px;
}