picture.fighter, toggle-button.fighter {
    mouse-press-sound: 'sfx_fighter_click';
}

picture.bomber, toggle-button.bomber {
    mouse-press-sound: 'sfx_bomber_click';
}

picture.freighter, toggle-button.freighter {
    mouse-press-sound: 'sfx_freighter_click';
}

picture.explorer, toggle-button.explorer {
    mouse-press-sound: 'sfx_explorer_click';
}