button {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: none;
    min-width: 0px;
    min-height: 0px;
    margin: 0px;
    padding: 0px;
}

button[name=previous] {
    icon: url('res://imageset_spinner_neo/material/button_spinner_minus_enabled');
    margin-bottom: 0px;

    mouse-over-sound: 'sfx_radio_over';
    mouse-click-sound: 'sfx_radio_click';
}

button[name=previous]:over {
    icon: url('res://imageset_spinner_neo/material/button_spinner_minus_over');
}

button[name=previous]:pressed {
    icon: url('res://imageset_spinner_neo/material/button_spinner_minus_press');
}

button[name=next] {
    icon: url('res://imageset_spinner_neo/material/button_spinner_plus_enabled');
    margin-top: 0px;

    mouse-over-sound: 'sfx_radio_over';
    mouse-click-sound: 'sfx_radio_click';
}

button[name=next]:over {
    icon: url('res://imageset_spinner_neo/material/button_spinner_plus_over');
}

button[name=next]:pressed {
    icon: url('res://imageset_spinner_neo/material/button_spinner_plus_press');
}