desktoppane[name=modal] {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: none;
}

window > rootpane > contentpane {
    padding: 20px;
}

.online {
    color: #00FF00;
}

.offline {
    color: #FF0000;
}

label {
    margin: 0px;
    padding: 0px;
}

label[name=elementName] {
    font-family: xirod;
    font-size: 10px;
    type-animation-sound: 'sfx_message_type';
}

panel[name=npanel] {
    margin-bottom: 10px;
}

panel[name=elementPanel] {
    margin: 5px 0px 5px 0px;
}

panel[name=spanel] {
    margin-top: 20px;
}