toggle-button.bolinha {
    icon: url('res://imageset_button_neo/material/button_mainship_enabled');
    border-style: none;
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: none;
    mouse-over-sound: 'sfx_ship_window_fade';
}

toggle-button.bolinha:over {
    icon: url('res://imageset_button_neo/material/button_mainship_over');
}

toggle-button.bolinha:pressed {
    icon: url('res://imageset_button_neo/material/button_mainship_press');
}

toggle-button.bolinha:selected {
    icon: url('res://imageset_button_neo/material/button_mainship_over');
}

panel[name=ship] {
    width: 200px;
    height: 350px;
    min-width: 200px;
    min-height: 300px;
    max-width: 200px;
    max-height: 350px;
}

panel[name=shipEquip] {
    height: 115px;
    max-height: 115x;
    width: 330px;
    max-width: 330px;
    margin-top: 0px;
    margin-bottom: 11px;
}

panel.spacer {
    border-bottom-image: url('res://imageset_tabpane_neo/material/tab_line');
    width: 2px;
}

[name=shield] {
    icon: url('res://imageset_core/material/loadingbar_normal_shield_title');
    background-image: none;
}

[name=hull] {
    icon: url('res://imageset_core/material/loadingbar_normal_hull_title');
}

.available {
    background-image: url('res://imageset_iconography/material/sector_enabled');
    icon: none;
    color-alpha: 1.0;
    background-color-alpha: 1.0;
    color-multiplier: rgb(255, 255, 255, 255);
}

.unavailable {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;
    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;
    border-left-image: none;
    border-right-image: none;
    background-image: url('res://imageset_iconography/material/sector_enabled');
    margin: 7px 3px 7px 3px;
    color-alpha: 0.2;
    background-color-alpha: 0.2;
    color-multiplier: rgb(60, 60, 60, 60);
    color-alpha: 0.2;
}

.shi-sec-cannons {
    icon: url('res://imageset_core/material/slot_cannon');
}

.shi-sec-amplificadores {
    icon: url('res://imageset_core/material/slot_system');
}

.shi-sec-launchers {
    icon: url('res://imageset_core/material/slot_launcher');
}