.event {
    width: 100%;
    height: 30px;

    border-top-image: url('res://imageset_window_neo/material/window_frame_top');
    border-top-left-image: url('res://imageset_window_neo/material/window_frame_upper_left');
    border-top-right-image: url('res://imageset_window_neo/material/window_frame_upper_right');

    border-left-image: url('res://imageset_window_neo/material/window_frame_left');
    border-right-image: url('res://imageset_window_neo/material/window_frame_right');
}

.inviter {
    padding-left: 5px;
    min-width: 60%;
}

.status {
    padding-left: 5px;
    min-width: 50px;
}

.partyIcon {
    background-image: url('res://imageset_core/button_sector_launcher_over');
}

.corpIcon {
    background-image: url('res://imageset_core/button_sector_launcher_over');
}

.tradeIcon {
    background-image: url('res://imageset_core/button_sector_launcher_over');
}

.friendIcon {
    background-image: url('res://imageset_iconography/mit_non_class');
}

.pdaIcon {
    background-image: url('res://imageset_iconography/mit_non_class');
}

.buttonPanel {
    width: 50px;
}

.buttonSee {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;

    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;

    border-left-image: none;
    border-right-image: none;

    background-image: url('res://imageset_core/status_mission_completed');
}

.buttonYes {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;

    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;

    border-left-image: none;
    border-right-image: none;

    background-image: url('res://imageset_core/status_mission_completed');
}

.buttonNo {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;

    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;

    border-left-image: none;
    border-right-image: none;

    background-image: url('res://imageset_core/status_mission_failed');
}

.buttonClose {
    border-bottom-image: none;
    border-bottom-left-image: none;
    border-bottom-right-image: none;

    border-top-image: none;
    border-top-left-image: none;
    border-top-right-image: none;

    border-left-image: none;
    border-right-image: none;

    background-image: url('res://imageset_core/button_close_enabled');
}