window[name=welcome-window] {
    min-width: 380px;
    min-height: 380px;
}

picture[name=agent-name] {
    width: 100%;
    height: 22px;
    font-family: xirod;
    vertical-align: center;
    text-align: center;
}

button {
    width: 100px;
}

panel[name=bottomPanel] {
    margin-top: 10px;
}